@media (min-width: 0) {
  .xs-pad0 {
    padding: 0px; }
  .xs-pad1 {
    padding: 15px; }
  .xs-pad2 {
    padding: 30px; }
  .xs-pad3 {
    padding: 45px; }
  .xs-pad4 {
    padding: 60px; }
  .xs-pad5 {
    padding: 75px; }
  .xs-pad6 {
    padding: 90px; }
  .xs-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xs-pad-x1 {
    padding-right: 15px;
    padding-left: 15px; }
  .xs-pad-x2 {
    padding-right: 30px;
    padding-left: 30px; }
  .xs-pad-x3 {
    padding-right: 45px;
    padding-left: 45px; }
  .xs-pad-x4 {
    padding-right: 60px;
    padding-left: 60px; }
  .xs-pad-x5 {
    padding-right: 75px;
    padding-left: 75px; }
  .xs-pad-x6 {
    padding-right: 90px;
    padding-left: 90px; }
  .xs-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xs-pad-y1 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .xs-pad-y2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .xs-pad-y3 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .xs-pad-y4 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .xs-pad-y5 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .xs-pad-y6 {
    padding-top: 90px;
    padding-bottom: 90px; } }

@media (min-width: 576px) {
  .sm-pad0 {
    padding: 0px; }
  .sm-pad1 {
    padding: 15px; }
  .sm-pad2 {
    padding: 30px; }
  .sm-pad3 {
    padding: 45px; }
  .sm-pad4 {
    padding: 60px; }
  .sm-pad5 {
    padding: 75px; }
  .sm-pad6 {
    padding: 90px; }
  .sm-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .sm-pad-x1 {
    padding-right: 15px;
    padding-left: 15px; }
  .sm-pad-x2 {
    padding-right: 30px;
    padding-left: 30px; }
  .sm-pad-x3 {
    padding-right: 45px;
    padding-left: 45px; }
  .sm-pad-x4 {
    padding-right: 60px;
    padding-left: 60px; }
  .sm-pad-x5 {
    padding-right: 75px;
    padding-left: 75px; }
  .sm-pad-x6 {
    padding-right: 90px;
    padding-left: 90px; }
  .sm-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .sm-pad-y1 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .sm-pad-y2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .sm-pad-y3 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .sm-pad-y4 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .sm-pad-y5 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .sm-pad-y6 {
    padding-top: 90px;
    padding-bottom: 90px; } }

@media (min-width: 768px) {
  .md-pad0 {
    padding: 0px; }
  .md-pad1 {
    padding: 15px; }
  .md-pad2 {
    padding: 30px; }
  .md-pad3 {
    padding: 45px; }
  .md-pad4 {
    padding: 60px; }
  .md-pad5 {
    padding: 75px; }
  .md-pad6 {
    padding: 90px; }
  .md-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .md-pad-x1 {
    padding-right: 15px;
    padding-left: 15px; }
  .md-pad-x2 {
    padding-right: 30px;
    padding-left: 30px; }
  .md-pad-x3 {
    padding-right: 45px;
    padding-left: 45px; }
  .md-pad-x4 {
    padding-right: 60px;
    padding-left: 60px; }
  .md-pad-x5 {
    padding-right: 75px;
    padding-left: 75px; }
  .md-pad-x6 {
    padding-right: 90px;
    padding-left: 90px; }
  .md-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .md-pad-y1 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .md-pad-y2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .md-pad-y3 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .md-pad-y4 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .md-pad-y5 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .md-pad-y6 {
    padding-top: 90px;
    padding-bottom: 90px; } }

@media (min-width: 992px) {
  .lg-pad0 {
    padding: 0px; }
  .lg-pad1 {
    padding: 15px; }
  .lg-pad2 {
    padding: 30px; }
  .lg-pad3 {
    padding: 45px; }
  .lg-pad4 {
    padding: 60px; }
  .lg-pad5 {
    padding: 75px; }
  .lg-pad6 {
    padding: 90px; }
  .lg-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .lg-pad-x1 {
    padding-right: 15px;
    padding-left: 15px; }
  .lg-pad-x2 {
    padding-right: 30px;
    padding-left: 30px; }
  .lg-pad-x3 {
    padding-right: 45px;
    padding-left: 45px; }
  .lg-pad-x4 {
    padding-right: 60px;
    padding-left: 60px; }
  .lg-pad-x5 {
    padding-right: 75px;
    padding-left: 75px; }
  .lg-pad-x6 {
    padding-right: 90px;
    padding-left: 90px; }
  .lg-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .lg-pad-y1 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .lg-pad-y2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .lg-pad-y3 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .lg-pad-y4 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .lg-pad-y5 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .lg-pad-y6 {
    padding-top: 90px;
    padding-bottom: 90px; } }

@media (min-width: 1200px) {
  .xl-pad0 {
    padding: 0px; }
  .xl-pad1 {
    padding: 15px; }
  .xl-pad2 {
    padding: 30px; }
  .xl-pad3 {
    padding: 45px; }
  .xl-pad4 {
    padding: 60px; }
  .xl-pad5 {
    padding: 75px; }
  .xl-pad6 {
    padding: 90px; }
  .xl-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xl-pad-x1 {
    padding-right: 15px;
    padding-left: 15px; }
  .xl-pad-x2 {
    padding-right: 30px;
    padding-left: 30px; }
  .xl-pad-x3 {
    padding-right: 45px;
    padding-left: 45px; }
  .xl-pad-x4 {
    padding-right: 60px;
    padding-left: 60px; }
  .xl-pad-x5 {
    padding-right: 75px;
    padding-left: 75px; }
  .xl-pad-x6 {
    padding-right: 90px;
    padding-left: 90px; }
  .xl-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xl-pad-y1 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .xl-pad-y2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .xl-pad-y3 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .xl-pad-y4 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .xl-pad-y5 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .xl-pad-y6 {
    padding-top: 90px;
    padding-bottom: 90px; } }
