@media (min-width: 0) {
  .xs-pad0 {
    padding: 0px; }
  .xs-pad1 {
    padding: 10px; }
  .xs-pad2 {
    padding: 20px; }
  .xs-pad3 {
    padding: 30px; }
  .xs-pad4 {
    padding: 40px; }
  .xs-pad5 {
    padding: 50px; }
  .xs-pad6 {
    padding: 60px; }
  .xs-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xs-pad-x1 {
    padding-right: 10px;
    padding-left: 10px; }
  .xs-pad-x2 {
    padding-right: 20px;
    padding-left: 20px; }
  .xs-pad-x3 {
    padding-right: 30px;
    padding-left: 30px; }
  .xs-pad-x4 {
    padding-right: 40px;
    padding-left: 40px; }
  .xs-pad-x5 {
    padding-right: 50px;
    padding-left: 50px; }
  .xs-pad-x6 {
    padding-right: 60px;
    padding-left: 60px; }
  .xs-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xs-pad-y1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .xs-pad-y2 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xs-pad-y3 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .xs-pad-y4 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .xs-pad-y5 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .xs-pad-y6 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .xs-push-y0 {
    margin-top: 0px; }
  .xs-push-y1 {
    margin-top: 10px; }
  .xs-push-y2 {
    margin-top: 20px; }
  .xs-push-y3 {
    margin-top: 30px; }
  .xs-push-y4 {
    margin-top: 40px; }
  .xs-push-y5 {
    margin-top: 50px; }
  .xs-push-y6 {
    margin-top: 60px; } }

@media (min-width: 576px) {
  .sm-pad0 {
    padding: 0px; }
  .sm-pad1 {
    padding: 10px; }
  .sm-pad2 {
    padding: 20px; }
  .sm-pad3 {
    padding: 30px; }
  .sm-pad4 {
    padding: 40px; }
  .sm-pad5 {
    padding: 50px; }
  .sm-pad6 {
    padding: 60px; }
  .sm-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .sm-pad-x1 {
    padding-right: 10px;
    padding-left: 10px; }
  .sm-pad-x2 {
    padding-right: 20px;
    padding-left: 20px; }
  .sm-pad-x3 {
    padding-right: 30px;
    padding-left: 30px; }
  .sm-pad-x4 {
    padding-right: 40px;
    padding-left: 40px; }
  .sm-pad-x5 {
    padding-right: 50px;
    padding-left: 50px; }
  .sm-pad-x6 {
    padding-right: 60px;
    padding-left: 60px; }
  .sm-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .sm-pad-y1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .sm-pad-y2 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .sm-pad-y3 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .sm-pad-y4 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .sm-pad-y5 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .sm-pad-y6 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .sm-push-y0 {
    margin-top: 0px; }
  .sm-push-y1 {
    margin-top: 10px; }
  .sm-push-y2 {
    margin-top: 20px; }
  .sm-push-y3 {
    margin-top: 30px; }
  .sm-push-y4 {
    margin-top: 40px; }
  .sm-push-y5 {
    margin-top: 50px; }
  .sm-push-y6 {
    margin-top: 60px; } }

@media (min-width: 768px) {
  .md-pad0 {
    padding: 0px; }
  .md-pad1 {
    padding: 10px; }
  .md-pad2 {
    padding: 20px; }
  .md-pad3 {
    padding: 30px; }
  .md-pad4 {
    padding: 40px; }
  .md-pad5 {
    padding: 50px; }
  .md-pad6 {
    padding: 60px; }
  .md-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .md-pad-x1 {
    padding-right: 10px;
    padding-left: 10px; }
  .md-pad-x2 {
    padding-right: 20px;
    padding-left: 20px; }
  .md-pad-x3 {
    padding-right: 30px;
    padding-left: 30px; }
  .md-pad-x4 {
    padding-right: 40px;
    padding-left: 40px; }
  .md-pad-x5 {
    padding-right: 50px;
    padding-left: 50px; }
  .md-pad-x6 {
    padding-right: 60px;
    padding-left: 60px; }
  .md-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .md-pad-y1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .md-pad-y2 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .md-pad-y3 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .md-pad-y4 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .md-pad-y5 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .md-pad-y6 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .md-push-y0 {
    margin-top: 0px; }
  .md-push-y1 {
    margin-top: 10px; }
  .md-push-y2 {
    margin-top: 20px; }
  .md-push-y3 {
    margin-top: 30px; }
  .md-push-y4 {
    margin-top: 40px; }
  .md-push-y5 {
    margin-top: 50px; }
  .md-push-y6 {
    margin-top: 60px; } }

@media (min-width: 992px) {
  .lg-pad0 {
    padding: 0px; }
  .lg-pad1 {
    padding: 10px; }
  .lg-pad2 {
    padding: 20px; }
  .lg-pad3 {
    padding: 30px; }
  .lg-pad4 {
    padding: 40px; }
  .lg-pad5 {
    padding: 50px; }
  .lg-pad6 {
    padding: 60px; }
  .lg-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .lg-pad-x1 {
    padding-right: 10px;
    padding-left: 10px; }
  .lg-pad-x2 {
    padding-right: 20px;
    padding-left: 20px; }
  .lg-pad-x3 {
    padding-right: 30px;
    padding-left: 30px; }
  .lg-pad-x4 {
    padding-right: 40px;
    padding-left: 40px; }
  .lg-pad-x5 {
    padding-right: 50px;
    padding-left: 50px; }
  .lg-pad-x6 {
    padding-right: 60px;
    padding-left: 60px; }
  .lg-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .lg-pad-y1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .lg-pad-y2 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .lg-pad-y3 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .lg-pad-y4 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .lg-pad-y5 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .lg-pad-y6 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .lg-push-y0 {
    margin-top: 0px; }
  .lg-push-y1 {
    margin-top: 10px; }
  .lg-push-y2 {
    margin-top: 20px; }
  .lg-push-y3 {
    margin-top: 30px; }
  .lg-push-y4 {
    margin-top: 40px; }
  .lg-push-y5 {
    margin-top: 50px; }
  .lg-push-y6 {
    margin-top: 60px; } }

@media (min-width: 1200px) {
  .xl-pad0 {
    padding: 0px; }
  .xl-pad1 {
    padding: 10px; }
  .xl-pad2 {
    padding: 20px; }
  .xl-pad3 {
    padding: 30px; }
  .xl-pad4 {
    padding: 40px; }
  .xl-pad5 {
    padding: 50px; }
  .xl-pad6 {
    padding: 60px; }
  .xl-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xl-pad-x1 {
    padding-right: 10px;
    padding-left: 10px; }
  .xl-pad-x2 {
    padding-right: 20px;
    padding-left: 20px; }
  .xl-pad-x3 {
    padding-right: 30px;
    padding-left: 30px; }
  .xl-pad-x4 {
    padding-right: 40px;
    padding-left: 40px; }
  .xl-pad-x5 {
    padding-right: 50px;
    padding-left: 50px; }
  .xl-pad-x6 {
    padding-right: 60px;
    padding-left: 60px; }
  .xl-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xl-pad-y1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .xl-pad-y2 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xl-pad-y3 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .xl-pad-y4 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .xl-pad-y5 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .xl-pad-y6 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .xl-push-y0 {
    margin-top: 0px; }
  .xl-push-y1 {
    margin-top: 10px; }
  .xl-push-y2 {
    margin-top: 20px; }
  .xl-push-y3 {
    margin-top: 30px; }
  .xl-push-y4 {
    margin-top: 40px; }
  .xl-push-y5 {
    margin-top: 50px; }
  .xl-push-y6 {
    margin-top: 60px; } }
