@media (min-width: 0) {
  .xs-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xs-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xs-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xs-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xs-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 576px) {
  .sm-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sm-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .sm-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .sm-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sm-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 768px) {
  .md-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .md-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .md-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .md-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .md-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 992px) {
  .lg-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .lg-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .lg-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .lg-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .lg-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 1200px) {
  .xl-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xl-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xl-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xl-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xl-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }
