@import 'setup';

@each $breakpoint, $width in $breakpoints {
  @include breakpoint($breakpoint) {
    .#{$breakpoint}-justify-center {
      justify-content: center;
    }

    .#{$breakpoint}-justify-start {
      justify-content: flex-start;
    }

    .#{$breakpoint}-justify-end {
      justify-content: flex-end;
    }

    .#{$breakpoint}-justify-around {
      justify-content: space-around;
    }

    .#{$breakpoint}-justify-between {
      justify-content: space-between;
    }
  }
}
